* {
  box-sizing: border-box;
  font-family: "Gothic A1", sans-serif;
  color: #424242;
  margin: 0;
  padding: 0; }

@keyframes arrow {
  0% {
    bottom: 2%; }
  50% {
    bottom: 1%; }
  100% {
    bottom: 2%; } }
nav {
  position: fixed;
  height: 90px;
  top: 0;
  width: 100vw;
  background-color: #FFFFFF;
  z-index: 999; }
  nav #logo {
    height: 70px;
    float: left;
    margin: 10px 0 0 40px; }
  nav ul {
    float: right;
    margin-right: 50px;
    margin-top: 30px;
    font-size: 1.3em; }
    nav ul li {
      display: inline-block;
      margin-right: 15px;
      color: #696767; }
      nav ul li a {
        text-decoration: none;
        position: relative;
        cursor: pointer;
        font-weight: 500; }
      nav ul li .bAcross:before {
        content: "";
        position: absolute;
        height: 1px;
        width: 100%;
        bottom: 0;
        background-color: #F36C24;
        visibility: hidden;
        transform: scaleX(0);
        transition: all 0.25s ease-in-out 0s; }
      nav ul li a:hover:before {
        visibility: visible;
        transform: scaleX(1); }

#hero {
  position: relative;
  height: 100vh; }
  #hero #hero-bkg-div {
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../css/imgs/Rats_Puppet_Show.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden; }
    #hero #hero-bkg-div #quote-div {
      height: 300px;
      width: 600px;
      background-color: transparent;
      margin: 250px 0 0 200px; }
      #hero #hero-bkg-div #quote-div blockquote {
        color: #DCDCDC;
        font-size: 2em;
        font-style: italic;
        line-height: 40px;
        position: relative; }
      #hero #hero-bkg-div #quote-div blockquote:before {
        content: open-quote;
        font-size: 2.7em;
        position: absolute;
        left: -60px;
        top: 10px; }
      #hero #hero-bkg-div #quote-div blockquote:after {
        content: close-quote;
        font-size: 2.7em;
        position: absolute;
        bottom: -40px; }
  #hero .arrow {
    position: absolute;
    bottom: 3%;
    width: 100vw;
    text-align: center;
    animation: arrow 2s ease infinite; }
    #hero .arrow .ion-md-arrow-down {
      color: #fff;
      font-size: 1.8em;
      opacity: 0.8; }

#about {
  height: 100vh;
  position: relative;
  overflow: hidden; }
  #about img {
    position: absolute;
    bottom: 0;
    right: -10%;
    height: 1000px;
    z-index: 0; }
  #about div {
    overflow: hidden;
    z-index: 10; }
    #about div div {
      margin: 200px 0 0 300px; }
      #about div div hr {
        border-color: #D8E3EC;
        width: 5000px;
        float: left;
        z-index: -10; }
      #about div div h1 {
        display: inline;
        position: relative;
        width: 500px;
        font-size: 100px;
        letter-spacing: -3px;
        color: rgba(0, 0, 255, 0.5); }
      #about div div h1:after {
        content: "Who are we ?";
        position: absolute;
        right: -2px;
        top: 2px;
        color: rgba(255, 0, 0, 0.5); }
      #about div div p {
        width: 500px;
        font-size: 1.3em;
        line-height: 1.35; }
      #about div div p:nth-child(even) {
        width: 750px; }

#who {
  height: 100vh;
  position: relative;
  overflow: hidden; }
  #who #bkg-img {
    position: absolute;
    bottom: 0;
    right: 60%;
    height: 850px; }
  #who div {
    margin-top: 200px; }
    #who div div {
      padding-left: 1200px; }
      #who div div hr {
        border-color: #D8E3EC;
        z-index: -10;
        width: 1720px;
        margin-left: -1300px; }
      #who div div h2 {
        font-size: 100px;
        display: inline;
        position: relative;
        letter-spacing: -3px;
        color: rgba(22, 55, 98, 0.7); }
      #who div div h2:after {
        content: "The Team";
        position: absolute;
        right: -5px;
        top: 1px;
        color: rgba(188, 148, 118, 0.5); }
      #who div div p {
        width: 500px;
        font-size: 1.3em;
        line-height: 1.35; }
      #who div div #profile-pics-div {
        width: 600px;
        height: 160px;
        margin-top: 50px;
        margin-left: -50px;
        padding: 0; }
        #who div div #profile-pics-div .prof-img-div {
          width: 32%;
          height: inherit;
          display: inline-block;
          margin: 0;
          padding: 0; }
          #who div div #profile-pics-div .prof-img-div .profile-img {
            height: 160px;
            margin-left: 15px;
            border-radius: 200px; }
      #who div div #member-info {
        width: 700px;
        margin: 15px 0 0 -70px;
        padding: 0; }
        #who div div #member-info .member {
          width: 700px;
          padding: 0;
          margin: 0;
          display: none; }
        #who div div #member-info p {
          width: 700px; }

#services {
  height: 100vh;
  position: relative; }
  #services .services-container {
    width: 50vw;
    height: 60vh;
    margin-top: 110px;
    text-align: center; }
    #services .services-container h3 {
      font-size: 100px;
      display: inline;
      position: relative;
      letter-spacing: -3px;
      color: rgba(0, 255, 255, 0.7); }
    #services .services-container h3:after {
      content: "Services";
      position: absolute;
      right: -5px;
      top: 1px;
      color: rgba(0, 0, 255, 0.5); }
    #services .services-container .services-list .service-paragraph {
      font-size: 1.5em; }
    #services .services-container .services-list .row {
      margin-top: 30px; }
    #services .services-container .services-list .col-sm-4 img {
      height: 80px;
      margin-bottom: 10px; }
    #services .services-container .services-list .col-sm-4 .feature {
      font-size: 1em;
      font-weight: 500; }
  #services #services-img {
    position: absolute;
    bottom: 0;
    right: 50%;
    left: 50%;
    height: 100vh; }
  #services #map {
    height: 40vh;
    width: 100vw; }

.contact {
  margin-top: 150px;
  text-align: center; }

.contact .jumbotron {
  height: 450px;
  position: relative; }

.contactLine {
  display: block;
  content: " ";
  width: 150px;
  height: 1px;
  background-color: #F36C24;
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 15px; }

.contact h2 {
  font-size: 80px;
  margin-bottom: 30px; }

.contact p:nth-child(1) {
  font-size: 0.9em; }

#email-contact {
  font-size: 1.3em;
  font-weight: 500; }

.input-group, #mensaje {
  margin: 0 auto;
  margin-bottom: 20px;
  width: 60%; }

#balloons-contact {
  position: absolute;
  height: 550px;
  left: -16%;
  top: -27%; }

/*# sourceMappingURL=style.css.map */
