$mainFont: 'Gothic A1', sans-serif;

//color pallet #E0E2CE #38442B #828B65 #9AAF8C #FBFBFB
$mainColor: #E0E2CE;

*{
	box-sizing: border-box;
	font-family: $mainFont;
	color: #424242;
}

//classes


// SECTIONS


//  ******************* HERO
#hero{
	height: 100vh;
	background-image: url("../css/imgs/SESAME_STREET_family_muppets_children_puppet_comedy_2560x1600.jpg");
	background-size: cover;
	background-position: 0 25%;
	.logoHero{
		margin: 30px 0 0 50px;
		height: 450px;
	}
}

// ******************* ABOUT

#about{
	height: 100vh;
	position: relative;
	overflow: hidden;
	img{
		position: absolute;
		bottom: 0;
		right: -10%;
		height: 1000px;
		z-index: 0;
	}
	div{
		overflow:hidden;
		z-index: 10;
		div{
			// width: 500px;
			margin: 200px 0 0 300px;
			hr{
				border-color: #D8E3EC;
				width: 5000px;
				float: left;
				z-index: -10;
			}
			h1{
				display: inline;
				position: relative;
				width: 500px;
				font-size: 100px;
				letter-spacing: -3px;
				color: rgba(0,0,255,0.5);
			}
			h1:after{
				content: "Who are we ?";
				position: absolute; right: -2px; top: 2px;
				color: rgba(255,0,0,0.5);
			}
			p{
				width: 500px;
				font-size: 1.3em;
				line-height: 1.35;
			}
			p:nth-child(even){
				width: 750px;
			}
		}
	}
}

// ********************** WHO

#who{
	height: 100vh;
	position: relative;

	img{
		position: absolute;
		bottom: 0;
		right: 30%;
		height: 950px;
	}
	div{
		overflow: hidden;
		div{
			margin: 200px 300px 0 0;
			float: right;
			h2{
				font-size: 2.5rem;
			}
			p{
				width: 500px;
				font-size: 1.3em;
				line-height: 1.35;
			}
		}
	}
}

