$mainFont: 'Gothic A1', sans-serif;

//color pallet #E0E2CE #38442B #828B65 #9AAF8C #FBFBFB
$mainColor: #E0E2CE;

*{
	box-sizing: border-box;
	font-family: $mainFont;
	color: #424242;
	margin: 0;
	padding: 0;
}

//classes


// SECTIONS



// ******************** NAV

nav{
	position: fixed;
	height: 90px;
	top: 0;
	width: 100vw;
	background-color: #FFFFFF;
	z-index: 999;
	#logo{
		height: 70px;
		float: left;
		margin: 10px 0 0 40px;
	}
	ul{
		float: right;
		margin-right: 50px;
		margin-top: 30px;
		font-size: 1.3em;
		li{
			display: inline-block;
			margin-right: 15px;
			color: #696767;
			a{
				text-decoration: none;
				position: relative;
				cursor: pointer;
				font-weight: 500;
			}
			.bAcross:before{
				content: "";
				position: absolute;
				height: 1px;
				width: 100%;
				bottom: 0;
				background-color: #F36C24;
				visibility: hidden;
				transform: scaleX(0);
				transition: all 0.25s ease-in-out 0s;
			}
			a:hover:before{
				visibility: visible;
				transform: scaleX(1);
			}
		}
	}
}

//  ******************* HERO
#hero{
	height: 100vh;
	#hero-bkg-div{
		height: 100%;
		background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("../css/imgs/Rats_Puppet_Show.jpg");   
		background-size: cover;
		background-repeat: no-repeat;
		overflow: hidden;
		#quote-div{
			height: 300px;
			width: 600px;
			background-color: transparent;
			margin: 250px 0 0 200px;
			blockquote{
				color: #DCDCDC;
				font-size: 2em;
				font-style: italic;
				line-height: 40px;
				position: relative;
			}
			blockquote:before {
			    content: open-quote;
			    font-size: 2.7em;
			    position: absolute;
			    left: -60px;
			    top: 10px;
			}
			blockquote:after {
			    content: close-quote;
			    font-size: 2.7em;
			    position: absolute;
			    bottom: -40px;
			}
		}
	}
}

// ******************* ABOUT

#about{
	height: 100vh;
	position: relative;
	overflow: hidden;
	img{
		position: absolute;
		bottom: 0;
		right: -10%;
		height: 1000px;
		z-index: 0;
	}
	div{
		overflow:hidden;
		z-index: 10;
		div{
			// width: 500px;
			margin: 200px 0 0 300px;
			hr{
				border-color: #D8E3EC;
				width: 5000px;
				float: left;
				z-index: -10;
			}
			h1{
				display: inline;
				position: relative;
				width: 500px;
				font-size: 100px;
				letter-spacing: -3px;
				color: rgba(0,0,255,0.5);
			}
			h1:after{
				content: "Who are we ?";
				position: absolute; right: -2px; top: 2px;
				color: rgba(255,0,0,0.5);
			}
			p{
				width: 500px;
				font-size: 1.3em;
				line-height: 1.35;
			}
			p:nth-child(even){
				width: 750px;
			}
		}
	}
}

// ********************** WHO

#who{
	height: 100vh;
	position: relative;
	overflow: hidden;

	#bkg-img{
		position: absolute;
		bottom: 0;
		right: 60%;
		height: 850px;
	}
	div{
			margin-top: 200px;
		div{
			padding-left: 1200px;
			// float: right;
			hr{
				border-color: #D8E3EC;
				z-index: -10;
				width: 1720px;
				margin-left: -1300px;
			}
			h2{
				font-size: 100px;
				display: inline;
				position: relative;
				letter-spacing: -3px;
				color: rgba(22,55,98,0.7);
			}
			h2:after{
				content: "The Team";
				position: absolute; right: -5px; top: 1px;
				color: rgba(188,148,118,0.5);
			}
			p{
				width: 500px;
				font-size: 1.3em;
				line-height: 1.35;
			}
			#profile-pics-div{
				width: 600px;
				height: 160px;
				margin-top: 50px;
				margin-left: -50px;
				padding: 0;
				.prof-img-div{
					width: 32%;
					height: inherit;
					display: inline-block;
					margin: 0;
					padding: 0;
					.profile-img{
						height: 160px;
						margin-left: 15px;
						border-radius: 200px;
					}
				}
			}
			#member-info{
				width: 700px;
				margin: 15px 0 0 -70px;
				padding: 0;
				.member{
					width: 700px;
					padding: 0;
					margin: 0;
					display: none;
				}
				p{
					width: 700px;
				}
			}
		}
	}
}

